<style>
  .ui > * { width: 100%; }
</style>
<input type='file' id='file' name='file' onchange="get_picture();" style='position: absolute; top: -100px;'>
<h1 id='nav'>
  <!-- project info/edit -->  
  <% if params[:mode] == 'admin' %>
  <button class="material-icons show" id="show-conf" value="conf">mode_edit</button>
  <% else %>
  <button class="material-icons show" id="show-conf" value="conf">info</button>
  <% end %>
  <!-- project tasks -->  
  <button class="material-icons show" id="show-list" value="list">format_list_bulleted</button>
  <!-- goto webchat api -->
  <button
    class="material-icons show"
    onclick='window.location = "https://appr.tc/r/<%= ENV['KEY'] || 'nomadic' %>:<%= params[:project] %>";'>share</button>
</h1>
<!-- project info/edit -->
<div class="ui" id="ui-conf">
  <% if params[:mode] == 'admin' %>
  <input type="text" id="name" value="<%= @here.attr['name'] %>" placeholder="job name" />
  <input type="text" id="overview" value="<%= @here.attr['overview'] %>" placeholder="overview" />
  <input type='text' id='image' value="<%= @here.attr['image'] %>" placeholder='image' />
  <textarea id="desc" placeholder="description"><%= @here.attr['desc'] %></textarea>
  <% else %>
  <h1><%= @here.attr['name'] %></h1>
  <img src="<%= @here.attr['image'] %>">
  <h3><%= @here.attr['overview'] %></h3>
  <p><%= @here.attr['desc'] %></p>
  <% end %>
</div>
<!-- project tasks -->
<div class="ui" id="ui-list">
  <% if params[:mode] == 'admin' %>
  <p><input type="text" id="task"><button class="material-icons done" value="new">add</button></p>
    <% end %>
    <img id='img' style='width: 100%;'>
  <div id="output" style='text-align: left; width: 100%;'></div>    
</div>

<!-- task paragraph -->
<div class='ui' id="ui-paragraph">
    <h3 id="job"></h3>
    <img id="img">
    <input type='hidden' id="this-job" name="job">
    <textarea id='paragraph' placeholder='notes...' style="width: 100%; height: 100%;"></textarea>
    <button style='width: 100%; background-color: green;' onclick="get_paragraph();">DONE</button>
</div>
    <script>
    var txt = "";
    var picture = "";
    var paragraph = "";
	// start empty.
  display('list');
    
  function task(t) {
    return "<p><button class='material-icons done' value='" + t + "'>check</button><span>" + t + "</span></p>"
  }
    
    // update state with server and redraw elements.
    function update(k, v) {
	jQuery.post('/', {
<% if params[:mode] == 'admin' %>
	    name: $("#name").val(),
	    image: $("#image").val(),
	    overview: $("#overview").val(),
	    desc: $("#desc").val(),
<% end %>
	    project: '<%= params[:project] %>',
	    token: '<%= params[:token] %>',
	    act: k,
	    payload: v,
	    paragraph: paragraph,
	    picture: picture
        },
		    function(d) {
			$("#task").val("");
		   $("#output").html("");	   
		   $.each(d.output, function(i,v) {
		       $("#output").append(task(v));
		   });
		   $("#name").val(d.conf.name);
		   $("#image").val(d.conf.name);
		   $("#overview").val(d.conf.name);
		   $("#desc").val(d.conf.desc);
		   console.log("update", d);
		   file = "";
	       });
    }
    


function get_picture(p) {
	txt = p;
	$("#job").text(txt);
	$("#this-job").attr("value", txt);
	var f = $("input[name='file']")[0].files[0];
	var r = new FileReader();
	r.onloadend = function() { picture = r.result; display('paragraph'); };
	r.onerror = function(e) { console.log("Error", e); };
	r.readAsDataURL(f);
	$("#file").val(""); 
	$("#img").attr("src", picture);
    }

    function get_paragraph() {
	paragraph = $("#paragraph").val();
	update('done', $("#this-job").val());
	$("#job").text("");
	$("#this-job").attr("value", "");
	$("#paragraph").val("");
	$("#img").attr("src", "");
	txt = "";
	picture = "";
	paragraph = "";
	display('list');
    }

    // update display
    function display(el) {
	// hide all
	$(".ui").hide();
	// reset hints
	$(".show").css('background-color', 'initial');
	// add hint
	$("#show-" + el).css("background-color", "orangered");
	// show ui
	$("#ui-" + el).show();
    }
    
$(function() {
    display("list");
    // event handlers
    // disable form submit.
    $(document).on('submit', "form", function(ev) { ev.preventDefault(); });
    
    // handle ui change.
    $(document).on('click', '.show', function() {
	display($(this).val());
    });
    
    // do action handler
    // acts on do class
    // value is input for post.
    $(document).on('click', '.done', function() {
	console.log("done", $(this));
	$("#file").click();
	var i = $(this).val()
	if (i == "new") {
	    get_picture($("#task").val());
	    $("#task").val("");
	    display('list');
	} else {
	    get_picture($(this).val())
	}
    });
  });
</script>
